body {
    background-color: white;
}
h1 {
    color: black;
    font-family: Arial;
    font-size: 300%;
    text-align: center;
}
h2 {
    color: black;
    font-family: Times;
    font-size: 150%;
    text-align: center;   
}
p {
    color: black;
    font-family: Times;
    font-size: 100%;
}
img {
  max-width: 25%;
  height: auto;
}
header {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    background-color: black;
    font-family: Times;
    font-size: 200%;
    text-align: center;
    color: white;
    padding: 1px;
}
